<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Alocar Disciplinas</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/js/index-script.js"></script>
    <link rel="shortcut icon" href="/img/SAP-thumb.png">
</head>

<body>
    <div class="header">
        <div class="linha">
            <header>
                <div class="coluna col6">
                    <a href="/">
                        <img src="img/SAP-branco.png" class="logoSAP" alt="">
                    </a>
                    <a href="http://www.ufrpe.br/" target="_blank">
                        <img src="img/ufrpe-logo-semfundo.png" alt="UFRPE" class="logoUFRPE" title="Site da Instituição">
                    </a>
                </div>
                <div class="coluna col6">
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/sobre">Sobre</a></li>
                        </ul>
                    </nav>
                </div>
            </header>
        </div>
    </div>

    <span th:text="${a}"></span>
    <span th:text="${h}==null"></span>



    <!--tabela editavel (arrasta e sota) refente a discplinas-->
    <div th:if="${h}!=null" class="view-disciplina" id="div-disciplinas">
        <div id="navegacao-disciplina">
            <img th:if="${h.periodo}" style="float: left; " src="static/img/seta-esquerda.png " width="50 " height="50 " alt=" ">
            <!--9-->
            <span id="curso" class="dadosTabela" th:text="'Curso:'+${h.curso}"></span>
            <span id="periodo" class="dadosTabela" th:text="'Período:'+${h.periodo}"></span>

        </div>
        <div class="container-horarios">
            <div th:each="slots,slotsIndex : ${h.slot.slots}" th:if="${slots.usado}" class="horario">
                <span th:text="${slots.hora}"></span>
            </div>
        </div>
        <div class="container-disciplinas">
            <div th:each="slots,slotsIndex : ${h.slot.slots}" th:if="${slots.usado}" th:id="'y'+${slotsIndex.index}" class="linha-disciplina">
                <div th:each="i,iIndex : ${slots.dias}" th:id="'divx'+${iIndex.index}+'y'+${slotsIndex.index}" class="espaco-disciplina" ondrop="drop(event)" ondragover="allowDrop(event)">
                    <div class="disciplina" th:style="'background-color:'+${h.get(i).cor}+';'" ondblclick="dblclickDisicplina(event)" th:id="'x'+${iIndex.index}+'y'+${slotsIndex.index}" th:attr="data-slot=${i},data-codigo=${h.get(i).codigo},data-cor=${h.get(i).cor},data-nome=${h.get(i).nome},data-turma=${h.get(i).turma},data-tipo=${h.get(i).tipo},data-area=${h.get(i).area},data-curso=${h.get(i).curso},data-periodo=${h.get(i).periodo}"
                        draggable="true" ondragstart="drag(event)">
                        <label class="text cod" th:id="'lbl'+${iIndex.index}+'y'+${slotsIndex.index}" ondblclick="dblclickDisicplinaText(event)">codigo:</label><span class="text" th:id="'spn'+${iIndex.index}+'y'+${slotsIndex.index}" th:text="${h.get(i).codigo}"
                            ondblclick="dblclickDisicplinaText(event)"></span><br>
                        <label class="text" th:id="'lbl'+${iIndex.index}+'y'+${slotsIndex.index}" ondblclick="dblclickDisicplinaText(event)">turma:</label><span class="text" th:id="'spn'+${iIndex.index}+'y'+${slotsIndex.index}" th:text="${h.get(i).turma}"
                            ondblclick="dblclickDisicplinaText(event)"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <!-- modal dsicplina-->
    <!--<div id="mensagens">
                
            <div class="modal fade" id="modal-disciplina" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Nova mensagem</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="modal-nome" class="col-form-label">Nome:</label>
                                    <input type="text" class="form-control" id="modal-nome" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="modal-codigo" class="col-form-label">Código:</label>
                                    <input type="text" class="form-control" id="modal-codigo" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="modal-turma" class="col-form-label">Turma:</label>
                                    <input type="text" class="form-control" id="modal-turma" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="modal-cor" class="col-form-label">Cor:</label>
                                    <input type="text" class="form-control" id="modal-cor" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="modal-tipo" class="col-form-label">Tipo:</label>
                                    <input type="text" class="form-control" id="modal-tipo" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="recipient-area" class="col-form-label">Área:</label>
                                    <input type="text" class="form-control" id="recipient-area" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="modal-curso" class="col-form-label">Curso:</label>
                                    <input type="text" class="form-control" id="modal-curso" readonly>
                                </div>
                                <div class="form-group">
                                    <label for="modal-periodo" class="col-form-label">Periodo:</label>
                                    <input class="form-control" id="modal-periodo" readonly>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->







    <!--   Alocação de professores   -->
    <div class="footer">
        <div class="linha">
            <footer>
                <div class="coluna col12">
                    <a href="https://fabricahirukar.wixsite.com/fabrica" target="_blank">
                        <img src="img/hirukar-logo.png" alt="">
                    </a>
                    <span>&copy; Desenvolvido pela fábrica Hirukar</span>
                </div>
            </footer>
        </div>
    </div>

</body>

</html>