body{
    font-family: 'Roboto', sans-serif;
    color: #ebe9e9;
}

/* header disciplinas */
.header1{
    background-color: #343a40;
}
.header1 .imgs{
    text-align: center;
    display: inline-block;
    padding-left: 210px;
}
.header1 #logoSAP{
    width:60px;
}
.header1 #logoUFRPE{
    width: 55px;
    margin-left: 20px;
}
.header1 p{
    margin: 0;
    padding: 0;
    width: 200px;
    text-align: center;
    margin-top: 30px;
    font-size: 12px;
    font-weight: 500;
}

/* header professor*/
.header{
    background: #343a40;
    text-align: right;
}
.logoSAP{
    width: 60px;
    margin-right: 20px; 
}
.logoUFRPE{
    width: 55px;
}
header nav{
    margin-left: 100px; 
    text-align: center;
    display: inline;
}

header nav ul{
    text-align: left;
}
header nav ul a, .links a{
    color: #ebe9e9;
}
header nav ul a:hover, .links a:hover{
    color: #ffffff;
}
header nav ul li{
    display: inline-block;
    padding-left: 25px;
    padding-top: 4px;
}
header nav ul li:first-child{
    padding: 0 15px 0 0;
}

/* SECTION */
h1{
    margin-top: 35px;
    text-align: center;
    color: #343a40;
}
hr{
    color: #343a40;
    background-color: #343a40;
    padding: 2px 0; 
    margin: 0 180px;
    border-radius: 5px;
}
.formulario{
    margin: 40px 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    background-color: #343a40;
}
.formulario label{
    margin: 33px 0 0 35px;
    font-size: 18px;
}
.formulario input{
    display: inline-block;
    margin-left: 35px;
    height: 25px;
    border-radius: 3px;
}
.px input{
    display: inline-block;
    width: 294px;
}
section .botao{
    padding: 5px;
    border-radius: 5px;
    width: 150px;
    margin: 0 15px 0 15px; 
}
section .formulario .botoes{
    text-align: center;
    margin-top: 30px;
}

/* PROFESSOR */
#iNome{
    width: 718px;
    margin-left: 28px;
}
#iLogin{
    margin-left: 32px;
}
#iSenha {
    margin-left: 38px;
}
#iEmail{
    width: 718px;
    margin-left: 31px;
}
#iCodigo{
    margin-left: 20px; 
}
#iArea{
    margin-left: 49px;
    border-radius: 3px;
}
#iTipo{
	 margin-left: 42px;
    border-radius: 3px;
}

/* DISCPLINA */
.formularioDisciplina{
    margin: 40px 25px;
    padding-bottom: 25px;
    border-radius: 5px;
    background-color: #343a40;
}
.formularioDisciplina label{
    margin: 33px 0 0 35px;
    font-size: 18px;
}
.formularioDisciplina input{
    width: 715px;
    height: 25px;
    border-radius: 3px;
}
.formularioDisciplina #iDisciplina {
    margin-left: 35px;
    width: 680px;
}
.formularioDisciplina #iCodigo {
    margin-left: 56px;
    width: 680px;
}
.formularioDisciplina #iCurso{
    margin-left: 66px;
    border-radius: 3px;
} 
.formularioDisciplina #iAreaLabel {
    margin-left: 130px;
}
.formularioDisciplina #iArea{
    margin-left: 70px;
}
.formularioDisciplina p{
    display: inline-block;
    width: 100;
}
.formularioDisciplina #tipo-div {
    height: 37px;
    width: 700px;
    margin: 35px auto 25px auto;
    padding: 3px;
    border: 2px solid;
    border-color: #ebe9e9;
    border-radius: 3px;
    text-align: center;
}
.formularioDisciplina #iTipo {
    margin: 0 0 0 -10px;
    padding: 0;
}
.formularioDisciplina #iObr{
    width: 0;
    height: 0;
    margin-left: 110px;
}
.formularioDisciplina #iOpt{
    width: 0;
    height: 0;
    margin-left: 40px;
}
.formularioDisciplina .botoes{
    text-align: center;
    margin-top: 15px;
}
/* footer */
.footer{
    background: #343a40;
    text-align:center;     /* rodape */
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;            /* rodape */
}
footer img{
    height: auto;
    width: 5%;
    margin-right: 20px;
}

/* GRID */
.linha{
    width: 960px;
    margin: 0 auto;
    overflow: auto;
    padding: 5px 0px;
}
.coluna{
    padding: 0 10px;
    float: left;
}
.col1{
    width: 60px;
}
.col2{
    width: 140px;
}
.col3{
    width: 220px;
}
.col4{
    width: 300px;
}
.col5{
    width: 380px;
}
.col6{
    width: 460px;
}
.col7{
    width: 540px;
}
.col8{
    width: 620px;
}
.col9{
    width: 700px;
}
.col10{
    width: 780px;
}
.col11{
    width: 860px;
}
.col12{
    width: 940px;
}