.view-disciplina{
    width: 100%;
    height: 500px;
    display: table;
    overflow: scroll;
}
.container-horarios{
    width: 120px;
    /**background-color: red;*/
    float: left;
}
.horario{
    width: 120px;
    height: 90px;
}
.container-disciplinas{
    width: 840px;
    /**background-color: blue;*/
}
span{
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
}
.linha-disciplina{
    width: 840px;
    height: 90px;
    /**background-color: purple;*/
}
.espaco-disciplina {
    width: 132px;
    height: 76px;
    padding: 2px;
    border: 1px solid #aaaaaa;
    float: left;
    margin: 5px;
}
.disciplina {
    width: 126px;
    height: 69px;
}
