.view-disciplina{
    width: 100%;
    display: table;
}
.container-horarios{
    width: 100px;
    height: 950px;
    background-color: red;
    float: left;
}
.horario{
    width: 80px;
    height: 69px;
}
.container-disciplinas{
    width: 760px;
    height: 800px;
    background-color: blue;
}
.linha-disciplina{
    width: 760px;
    height: 90px;
    background-color: purple;
}
.espaco-disciplina {
    width: 126px;
    height: 69px;
    padding: 2px;
    border: 1px solid #aaaaaa;
    float: left;
    margin: 5px;
}
.disciplina {
    width: 126px;
    height: 69px;
}
