<!DOCTYPE html>
<html   lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sistema de Alocação de Professores</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/alocar-professor.css">
        <link rel="stylesheet" href="/css/disciplinas.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/alocar-professor.js"></script>
        <link rel="shortcut icon" href="/img/SAP-thumb.png">
    </head>
    <body>
        <div class="header">
            <div class="linha">
                <header>
                    <div class="coluna col6">
                        <a href="/">
                            <img src="/img/SAP-branco.png" class="logoSAP" alt="Logo do Site" title="SAP">
                        </a>
                        <a href="http://www.ufrpe.br/" target="_blank">
                            <img src="/img/ufrpe-logo-semfundo.png" alt="Site da Instituição" class="logoUFRPE" title="UFRPE">
                        </a>
                    </div>
                </header>
            </div>
        </div>
                <!--   Alocação de professores   -->
                
                <div id="view-alocacao">
                    <div id="conteiner-professor">
                        <div th:each="prof,profIndex : ${professores}" th:attr="data-area=${prof.area}" th:id="'prof'+${profIndex.index}" class="professor"  onclick="atualizarAulas(event)">
                            <span th:text="'nome:'+${prof.nome}"></span><br>
                            <span th:text="'area:'+${prof.area}"></span><br>
                        </div>
                    </div>
                    <div id="aulinhas">
                        <div th:each="aula,aulaIndex : ${aulas}" class="aula">
                            <span th:text="${aula.nome}"
                        </div>
                    </div>
                </div>
        </div>
        <div class="footer">
            <div class="linha">
                <footer>
                    <div class="coluna col12">
                        <a href="https://fabricahirukar.wixsite.com/fabrica" target="_blank">
                            <img src="/img/hirukar-logo.png" alt="">
                        </a>
                        <span>&copy; Desenvolvido pela fábrica Hirukar</span>
                    </div>
                </footer>
            </div>
        </div>
        <
    </body>
</html>
