<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cadastro de Discplina</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/cadastro-style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="shortcut icon" href="/img/SAP-thumb.png" >
        
        <script type="text/javascript" src="/js/jquery.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
        <div class= "row">
            <div class="header1 col bg">
                <div class= "linha col ">
                    <header>
                    <div class="coluna col9 imgs">
                        <a href="/menuSupervisor">
                              <img src="/img/SAP-branco.png" id="logoSAP" alt="Logo do Site" title="SAP">
                        </a>
                        <a href="http://www.ufrpe.br/" target="_blank">
                            <img src="/img/ufrpe-logo-semfundo.png" alt="Site da Instituição" id="logoUFRPE" title="UFRPE">
                        </a>
                    </div>
                    <div class="coluna col3">
                        <p><!--aqui vai ter o nome da pessoa que ta usando e o que ela é-->Nome - Código</p>
                    </div>
	                </header>
	                </div>
	            </div> 
	        </div>
	    </div >
        <div class="linha">
            <section>
                <div class="coluna col12">
                    <h1>Cadastro de Disciplina</h1>
                    <hr>
                    <div class="formularioDisciplina">
                        <form id="formCadastro"  method="POST">
                            <div class="px">
                                <label for="disciplina">Disciplina</label>
                                <input type="text" name="disciplina" id="iDisciplina" placeholder="Nome da disciplina" required>
                                <label for="codigo">Codigo</label>
                                <input type="text" name="codigo" id="iCodigo" placeholder="Código da disciplina" required>
                            </div>
                            <label for="curso">Curso</label>
                            <select name="curso" id="iCurso">
                                    <option value="BCC">Bacharelado em Ciência da Computação</option>
                                    <option value="LC">Licenciatura em Computação</option>
                                    <option value="AMBAS">Ambas</option>
                                </select>
                            <label for="area" id="iAreaLabel">Area</label>
                            <select name="area" id="iArea">
                                <option value="ARC">ARC</option>
                                <option value="ENSISO">ENSISO</option>
                                <option value="FC">FC</option>
                                <option value="EXTERNA">EXTERNA</option>
                            </select>
                            <br>
                            <div id="tipo-div">
                                <label for="tipo" id="iTipo">Tipo</label>
                                <input type="radio" name="tipo" id="iObr" value="OBRIGATORIA" checked> <p>OBRIGATORIA</p>
                                <input type="radio" name="tipo" id="iOpt" value="OPTATIVA"> <p>OPTATIVA</p>
                                <input type="radio" name="tipo" id="iOpt" value="ELETIVA"> <p>ELETIVA</p>
                            </div>
                            <div class="botoes"> 
                                <button onclick="efetuarCadastro()"class="btn btn-outline-light botao">Efetuar Cadastro</button>
                                <a type="button" href="/menuSupervisor" class="btn btn-outline-light botao">Voltar</a>
                            </div>
                        </form>
                    </div>
                </div>       
            </section>
        </div>
        <div class="footer">
            <div class="linha">
                <footer>
                    <div class="coluna col12">
                        <a href="https://fabricahirukar.wixsite.com/fabrica" target="_blank">
                            <img src="/img/hirukar-logo.png" alt="">
                        </a>
                        <span>&copy; Desenvolvido pela fábrica Hirukar</span>
                    </div>
                </footer>
            </div>
        </div>
        <script type="text/javascript" src="/js/cadastroDisciplina-script.js"></script>
    </body>
</html>