<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cadastro de Discplina</title>
        <link rel="shortcut icon" href="/img/SAP-thumb.png" >
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/cadastro-style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
        <script type="text/javascript" src="/js/jquery.min.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="linha">
                <header>
                    <div class="coluna col6">
                        <a href=""> <!--não põe nenhuma tela aqui por enquanto, esse botão deve voltar ao menu do supervisor, tela ainda não criada-->
                            <img src="/img/SAP-branco.png" class="logoSAP" alt="Logo do Site" title="SAP">
                        </a>
                        <a href="http://www.ufrpe.br/" target="_blank">
                            <img src="/img/ufrpe-logo-semfundo.png" alt="Site da Instituição" class="logoUFRPE" title="UFRPE">
                        </a>
                    </div>
                    <div class="coluna col6">
                        <nav>
                            <ul>
                                <li><a href="">Menu</a></li> <!--mesma coisa de cima-->
                                <!--<li><a href="sobre.html">Sobre</a></li>-->
                            </ul>
                        </nav>
                    </div>
                </header>
            </div>
        </div>
        <div class="linha">
            <section>
                <div class="coluna col12">
                    <h1>Cadastro de Disciplina</h1>
                    <hr>
                    <div class="formularioDisciplina">
                        <form id="formCadastro"  method="POST">
                            <div class="px">
                                <label for="disciplina">Disciplina</label>
                                <input type="text" name="disciplina" id="iDisciplina" required>
                                <label for="codigo">Codigo</label>
                                <input type="text" name="codigo" id="iCodigo" required>
                            </div>
                            <label for="curso">Curso</label>
                            <select name="curso" id="iCurso">
                                    <option value="0">Bacharelado em Ciência da Computação</option>
                                    <option value="1">Licenciatura em Computação</option>
                                    <option value="2">Ambas</option>
                                </select>
                            <label for="area">Area</label>
                            <select name="area" id="iArea">
                                <option value="0">Arq</option>
                                <option value="1">Enciso</option>
                                <option value="2">FC</option>
                            </select>
                            <br>
                            <label for="tipo">Tipo</label>
                            <input type="radio" name="tipo" id="iObr" checked value="0"> <p>Obrigatória</p>
                            <input type="radio" name="tipo" id="iOpt" value="1"> <p>Optativa</p>
                            <div class="botoes"> 
                                <button onclick="efetuarCadastro()"class="btn btn-outline-light botao">Efetuar Cadastro</button>
                                <button type="button" onclick="window.history.back()" class="btn btn-outline-light botao">Voltar</button>
                            </div>
                        </form>
                    </div>
                </div>       
            </section>
        </div>
        <div class="footer">
            <div class="linha">
                <footer>
                    <div class="coluna col12">
                        <a href="https://fabricahirukar.wixsite.com/fabrica" target="_blank">
                            <img src="/img/hirukar-logo.png" alt="">
                        </a>
                        <span>&copy; Desenvolvido pela fábrica Hirukar</span>
                    </div>
                </footer>
            </div>
        </div>
        <script type="text/javascript" src="/js/cadastroDisciplina-script.js"></script>
    </body>
</html>