<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sistema de Alocação de Professores</title>
        <link rel="stylesheet" href="/css/normalize.cs">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/disciplinas.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="shortcut icon" href="/img/SAP-thumb.png" >
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/disciplinas-script.js"></script>
    </head>
    <body>
        <div class="header">
            <div class="linha">
                <header>
                    <div class="coluna col6">
                      <a href="/">
                        <img src="img/SAP-branco.png" class="logoSAP" alt="">
                      </a>
                      <a href="http://www.ufrpe.br/" target="_blank">
                        <img src="img/ufrpe-logo-semfundo.png" alt="UFRPE" class="logoUFRPE" title="Site da Instituição">
                      </a>
                    </div>
                    <div class="coluna col6">
                      <nav>
                        <ul>
                          <li><a href="/">Home</a></li>
                          <li><a href="/sobre">Sobre</a></li>
                        </ul>
                      </nav>
                    </div>
                </header>
            </div>
        </div>
        <div class="linha">
          <section>
            <div class="view-disciplina">
                <div class="container-horarios">
                    <div th:each="quadro : ${quadros}" class="horario">
                        <span th:text="${quadro.horario}"></span>
                    </div>
                </div>
                <div class="container-disciplinas" id="venha">
                    <div th:each="quadro : ${quadros}" id="a"class="linha-disciplina" >
                        <div  th:each="disciplina : ${quadro.disciplinas}" id="div1" class="espaco-disciplina" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <div class="disciplina" th:style="'background-color:'+${disciplina.cor}+';'" th:id="${disciplina.codigo}" draggable="true" ondragstart="drag(event)">
                                codigo:<span th:text="${disciplina.codigo}"></span><br>
                                turma:<span th:text="${disciplina.turma}"></span>
                            </div>
                        </div>      
                    </div>   
                </div>
            </div>
          </section>
        </div>
        <form id="form-troca" style="display:none;">
            <input type="text" name="disciplina-codigo" value="">
            <input type="text" name="disciplina-turma" value="">
        </form>
        <div class="footer">
          <div class="linha">
            <footer>
              <div class="coluna col12">
                <a href="https://fabricahirukar.wixsite.com/fabrica" target="_blank">
                  <img src="img/hirukar-logo.png" alt="">
                </a>
                <span>&copy; Desenvolvido pela fábrica Hirukar</span>
              </div>
            </footer>
          </div>
        </div>
    </body>
</html>