<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sistema de Alocação de Professores</title>
        <link rel="stylesheet" href="/css/normalize.cs">
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/disciplinas.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <link rel="shortcut icon" href="/img/SAP-thumb.png" >
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/disciplinas-script.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    <body>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova mensagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Destinatário:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Mensagem:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="button" class="btn btn-primary">Enviar</button>
      </div>
    </div>
  </div>
</div>
        <div class="header">
            <div class="linha">
                <header>
                    <div class="coluna col6">
                      <a href="/">
                        <img src="img/SAP-branco.png" class="logoSAP" alt="">
                      </a>
                      <a href="http://www.ufrpe.br/" target="_blank">
                        <img src="img/ufrpe-logo-semfundo.png" alt="UFRPE" class="logoUFRPE" title="Site da Instituição">
                      </a>
                    </div>
                    <div class="coluna col6">
                      <nav>
                        <ul>
                          <li><a href="/">Home</a></li>
                          <li><a href="/sobre">Sobre</a></li>
                        </ul>
                      </nav>
                    </div>
                </header>
            </div>
        </div>
        <div class="linha">
            <div class="view-disciplina" id="disciplinas">
                <div class="container-horarios">
                    <div th:each="slots,slotsIndex : ${h.slot.slots}" th:if="${slots.usado}" class="horario">
                        <span th:text="${slots.hora}"></span>
                    </div>
                </div>
                <div class="container-disciplinas">
                    <div th:each="slots,slotsIndex : ${h.slot.slots}" th:if="${slots.usado}" th:id="'y'+${slotsIndex.index}" class="linha-disciplina" >
                        <div  th:each="i,iIndex : ${slots.dias}" th:id="'divx'+${iIndex.index}+'y'+${slotsIndex.index}" class="espaco-disciplina dsc" ondrop="drop(event)" ondragover="allowDrop(event)">
                            <div class="disciplina dsc" th:style="'background-color:'+${h.get(i).cor}+';'" th:id="'x'+${iIndex.index}+'y'+${slotsIndex.index}" th:attr="data-slot=${i},data-codigo=${h.get(i).codigo},data-turma=${h.get(i).turma},data-tipo=${h.get(i).tipo},data-area=${h.get(i).area},data-curso=${h.get(i).curso},data-periodo=${h.get(i).periodo}" draggable="true" ondragstart="drag(event)">
                                codigo:<span th:text="${h.get(i).codigo}"></span><br>
                                turma:<span th:text="${h.get(i).turma}"></span>
                            </div>
                        </div>      
                    </div>   
                </div>
            </div>
        </div>
        <div class="footer">
          <div class="linha">
            <footer>
              <div class="coluna col12">
                <a href="https://fabricahirukar.wixsite.com/fabrica" target="_blank">
                  <img src="img/hirukar-logo.png" alt="">
                </a>
                <span>&copy; Desenvolvido pela fábrica Hirukar</span>
              </div>
            </footer>
          </div>
        </div>
    </body>
</html>