<!DOCTYPE html>
<html   lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Sistema de Alocação de Professores</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/index-script.js"></script>
        <link rel="shortcut icon" href="/img/SAP-thumb.png">
    </head>
    <body>
        <div class="header">
            <div class="linha">
                <header>
                    <div class="coluna col6">
                        <a href="/">
                            <img src="/img/SAP-branco.png" class="logoSAP" alt="Logo do Site" title="SAP">
                        </a>
                        <a href="http://www.ufrpe.br/" target="_blank">
                            <img src="/img/ufrpe-logo-semfundo.png" alt="Site da Instituição" class="logoUFRPE" title="UFRPE">
                        </a>
                    </div>
                    <div class="coluna col6">
                        <nav>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/sobre">Sobre</a></li>
                            </ul>
                        </nav>
                    </div>
                </header>
            </div>
        </div>
        <div class="linha">
            <section>
                <div class="coluna col6">
                    <img src="/img/sistema-preto.png" class="logoDescricao" alt="logoSAP" title="Sistema de Alocação de Professores">
                </div>
                <div class="coluna col6">
                    <div class="login">
                        <form name="formLogin" id="formLogin" th:action="@{fazerLogin}" method="POST">
                            <label for="login">Login:</label>
                            <input type="text" name="login" id="login">
                            <label for="senha">Senha:</label>
                            <input type="password" name="senha" id="senha">
                            <div th:if="${loginError}" class="error">senha errada</div>
                            <button type="submit" id="btn-logar"  class="btn btn-outline-light" value="Entrar">Entrar</button>
                        </form>
                        <div class="links">
                            <a href="/cadastroProfessor">Cadastro</a>
                            <a href="recuperar">Esqueceu a senha?</a>
                        </div> 
                        <div id="resposta"></div>
                    </div>
                </div>
            </section>
        </div>
        <div class="footer">
            <div class="linha">
                <footer>
                    <div class="coluna col12">
                        <a href="https://fabricahirukar.wixsite.com/fabrica" target="_blank">
                            <img src="/img/hirukar-logo.png" alt="">
                        </a>
                        <span>&copy; Desenvolvido pela fábrica Hirukar</span>
                    </div>
                </footer>
            </div>
        </div>
        <
    </body>
</html>
