<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Regras</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/regras-style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="shortcut icon" href="/img/SAP-thumb.png" >
</head>
<body>
    <div class="header">
            <div class="linha">
                <header>
                    <div class="coluna col9 imgs">
                        <a href="/menuSupervisor">
                              <img src="/img/SAP-branco.png" id="logoSAP" alt="Logo do Site" title="SAP">
                        </a>
                        <a href="http://www.ufrpe.br/" target="_blank">
                            <img src="/img/ufrpe-logo-semfundo.png" alt="Site da Instituição" id="logoUFRPE" title="UFRPE">
                        </a>
                    </div>
                    <div class="coluna col3">
                        <p><!--aqui vai ter o nome da pessoa que ta usando e o que ela é-->Nome - Código</p>
                    </div>
                </header>
            </div>
        </div>
    <section>
        <div class="linha">
            <div class="coluna col 12">
                <h1>Regras</h1>
                <hr>
            </div>
        </div>
        <div class="linha">
            <div class="coluna col4">
                <hr class="barraMenu">
                <ul>
                    <li><button onclick="mostrarForm('1')" id="btn-tPref" class="btn btn-outline-dark">Tempo de preferência</button></li>
                    <li><button onclick="mostrarForm('2')" id="btn-hPref" class="btn btn-outline-dark">Número de Preferências</button></li>
                    <li><button onclick="mostrarForm('3')" id="btn-hMaxMin" class="btn btn-outline-dark">Horário Máximo e Mínimo</button></li>
                    <li><button onclick="mostrarForm('4')" id="btn-qtdCad" class="btn btn-outline-dark">Quantidade de Cadeiras</button></li>
                    <li><a href="/menuSupervisor" id="btn-voltar" style="width: 88%" class="btn btn-outline-dark">Voltar</a></li>
                </ul>
                <hr class="barraMenu">
            </div>
            <div class="coluna col8 forms">
                <div id="tempPref">
                    <h3>Defina o tempo que cada professor pode ter com uma cadeira que tem preferência</h3> 
                    <form action="" method="">
                        <label for="tempoPreferencia">Tempo: </label>
                        <select name="tempoPreferencia" id="iTempoPreferencia">
                            <option value="1">2 Períodos</option>
                            <option value="2">4 Períodos</option>
                            <option value="3">6 Períodos</option>
                            <option value="4">8 Períodos</option>
                            <option value="5">10 Períodos</option>
                        </select>
                        <br>
                        <button class="btn btn-outline-dark">Alterar</button>
                    </form>
                </div>
                <div id="numPref">
                    <h3>Defina o número de disciplinas que cada professor pode ter preferência</h3>  
                    <form action="" method="">
                        <label for="numeroPreferencia">Disciplinas: </label>
                        <select name="numeroPreferencia" id="iNumeroPreferencia">
                            <option value="1">Uma</option>
                            <option value="2">Duas</option>
                            <option value="3">Três</option>
                            <option value="4">Quatro</option>
                            <option value="5">Cinco</option>
                        </select>
                        <br>
                        <button class="btn btn-outline-dark">Alterar</button>
                    </form>
                </div>
                <div id="horMaxMin">
                    <h3>Defina o horário máximo e mínimo??</h3>
                    <form action="" method="">
                        <label for="max">Horário Máximo</label>
                        <select name="max" id="iMax">
                            <option value="">Duas horas</option>
                            <option value="">Quatro horas</option>
                            <option value="">Seis horas</option>
                        </select>
                        <br>
                        <button class="btn btn-outline-dark">Alterar</button>
                    </form>
                    <form action="" method="">
                        <label for="min">Horário Mínimo</label>
                        <select name="min" id="iMin">
                            <option value="">Zero</option>
                            <option value="">Duas horas</option>
                            <option value="">Quatro horas</option>
                        </select>
                        <br>
                        <button class="btn btn-outline-dark">Alterar</button>
                    </form>
                </div>
                <div id="qtdCad">
                    <h3>Defina a quantidade de cadeiras que cada professor pode ter</h3>
                    <table class="tabelinha">
                        <tr>
                            <th id="emBranco"></th>
                            <th>Máximas</th>
                            <th>Mínimas</th>
                        </tr>
                        <tr>
                            <th>Professor</th>
                            <td>4</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th>Supervisor</th>
                            <td>3</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <th>Coordenador</th>
                            <td>2</td>
                            <td>1</td>
                        </tr>
                    </table>
                    <button id="btn-mudar" class="btn btn-outline-dark">Alterar</button>
                </div>
            </div>
        </div>
    </section>
    <div class="footer">
            <div class="linha">
                <footer>
                    <div class="coluna col12">
                        <a href="https://fabricahirukar.wixsite.com/fabrica" target="_blank">
                            <img src="/img/hirukar-logo.png" alt="">
                        </a>
                        <span>&copy; Desenvolvido pela fábrica Hirukar</span>
                    </div>
                </footer>
            </div>
        </div>
    <script src="/js/regras-script.js"></script>
</body>
</html>