<!DOCTYPE html>
<html   lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Response Server</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/index-script.js"></script>
        <link rel="shortcut icon" href="/img/SAP-thumb.png">
    </head>
    <body>
        <!--tabela editavel (arrasta e sota) refente a discplinas-->
        <div class="view-disciplina" id="div-disciplinas">
            <div id="navegacao-disciplina">
                <img  style="float: left;" src="/img/seta-esquerda.png" width="50" height="50" alt=""><!--th:if="${h.periodo}>0"-->
                <center>
                    <!--<span th:text="'Curso:'+${h.curso}"></span>
                    <span th:text="$'Periodo:'+{h.periodo}"></span>-->
                </center>
                    <img  style="float: right;" src="/img/seta-direita.png" width="50" height="50" alt=""><!--th:if="${h.periodo}<9"-->
            </div>
            <div class="container-horarios">
                <div th:each="slots,slotsIndex : ${h.slot.slots}" th:if="${slots.usado}" class="horario">
                    <span th:text="${slots.hora}"></span>
                </div>
            </div>
            <div class="container-disciplinas">
                <div th:each="slots,slotsIndex : ${h.slot.slots}" th:if="${slots.usado}" th:id="'y'+${slotsIndex.index}" class="linha-disciplina" >
                    <div  th:each="i,iIndex : ${slots.dias}" th:id="'divx'+${iIndex.index}+'y'+${slotsIndex.index}" class="espaco-disciplina" ondrop="drop(event)" ondragover="allowDrop(event)">
                        <div class="disciplina" th:style="'background-color:'+${h.get(i).cor}+';'" ondblclick="dblclickDisicplina(event)" th:id="'x'+${iIndex.index}+'y'+${slotsIndex.index}" th:attr="data-slot=${i},data-codigo=${h.get(i).codigo},data-cor=${h.get(i).cor},data-nome=${h.get(i).nome},data-turma=${h.get(i).turma},data-tipo=${h.get(i).tipo},data-area=${h.get(i).area},data-curso=${h.get(i).curso},data-periodo=${h.get(i).periodo}" draggable="true" ondragstart="drag(event)">
                            <label class="text" th:id="'lbl'+${iIndex.index}+'y'+${slotsIndex.index}" ondblclick="dblclickDisicplinaText(event)">codigo:</label><span class="text" th:id="'spn'+${iIndex.index}+'y'+${slotsIndex.index}" th:text="${h.get(i).codigo}" ondblclick="dblclickDisicplinaText(event)"></span><br>
                            <label class="text" th:id="'lbl'+${iIndex.index}+'y'+${slotsIndex.index}" ondblclick="dblclickDisicplinaText(event)">turma:</label><span class="text" th:id="'spn'+${iIndex.index}+'y'+${slotsIndex.index}" th:text="${h.get(i).turma}" ondblclick="dblclickDisicplinaText(event)"></span>
                        </div>
                    </div>      
                </div>   
            </div>
        </div>







        <!--Escolha de cursos-->
        <div id="navegaca-disciplina">
            <div class="btn-navegacao" onclick="irParaDisciplinas()" style="background-color: red;">
                <label>olhar cursos</label>
            </div>
        </div>









        
    </body>
</html>
