<!DOCTYPE html>
<html   lang="pt-br"
        xmlns:th="http://thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Tabela Dinamica</title>
        <link rel="stylesheet" type="text/css" href="/css/tabela-style.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <script type="text/javascript" src="/js/professor.js" >
        </script>
        <script type="text/javascript" src="/js/tabela-script.js">
        </script>
    </head>

    <body>
        <div th:each="quadro : ${quadros}" id="a"class="linha-disciplina" >
            <div  th:each="disciplina : ${quadro.disciplinas}" id="div1" class="espaco-disciplina" ondrop="drop(event)" ondragover="allowDrop(event)">
                <div class="disciplina" th:style="'background-color:'+${disciplina.cor}+';'" th:id="${disciplina.codigo}" draggable="true" ondragstart="drag(event)">
                    codigo:<span th:text="${disciplina.codigo}"></span><br>
                    turma:<span th:text="${disciplina.turma}"></span>
                </div>
            </div>      
        </div>   
    </body>

</html>