<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale =1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Verificar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="/img/SAP-thumb.png" >
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
     <link rel="stylesheet" href="css/style.css">
         <link rel="stylesheet" href="css/verificarAlocacoes.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/regras-style.css">
    <script type="text/javascript" src="/js/verificarAlocacoes.js"></script>

</head>
<body>
    <div class="container-fluid">
        <div class= "row">
            <div class="header col bg">
                <div class= "linha col ">
                    <header>
                    <div class="coluna col9 imgs">
                        <a href="/menuProfessor">
                              <img src="/img/SAP-branco.png" id="logoSAP" alt="Logo do Site" title="SAP">
                        </a>
                        <a href="http://www.ufrpe.br/" target="_blank">
                            <img src="/img/ufrpe-logo-semfundo.png" alt="Site da Instituição" id="logoUFRPE" title="UFRPE">
                        </a>
                    </div>
                    <div class="coluna col3">
                        <p><!--aqui vai ter o nome da pessoa que ta usando e o que ela é-->Nome - Código</p>
                    </div>
                </header>
                </div>
            </div> 
        </div>
    </div >
    <div clas ="border">
    <center> 
        <font color = "#343a40">
        
        <h1>VERIFICAÇÃO DE ALOCAÇÃO</h1>
        </font>
            </center>

    </div>
    <div class="container">
        <div class= "row">
            <div class="col ">
                <table class="table table-striped table-bordered ">
                    <thead  class="thead-default">
                        <tr>
                            <th scope="row"> Disciplina</th>
                            <th scope="row"> Periodo</th>
                        </tr>
                    </thead>
                    <tbody id="tabela">
                         
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class= "container ">
        <div class= "row">
            <div class= "col-12 ">
                <center>
                    <font color = "#343a40">    
                    <a href="/menuProfessor" value= "voltar" class= "btn btn-dark" role="button">voltar</a>
                    </font>
                </center>
            </div> 
        </div>
    </div>
    
    <div class="footer">
            <div class="linha">
                <footer>
                    <div class="coluna col12">
                        <a href="https://fabricahirukar.wixsite.com/fabrica" target="_blank">
                            <img src="/img/hirukar-logo.png" alt="">
                        </a>
                        <span>&copy; Desenvolvido pela fábrica Hirukar</span>
                    </div>
                </footer>
            </div>
        </div>
    <script  type="text/javascript" src="/js/jquery.min.js"></script>
</body>
</html>